{% extends "admin/base_site.html" %}
{% load adminmedia %}
{% load admin_list %}
{% load i18n %}
{% load i18next %}
{% load datatypes %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}costlog{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url admin:index %}">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="{% url admin:app_list app_label="lasso_warehandling" %}">
         {% trans "Warehandling" %}
      </a>
      &rsaquo; 
      {% trans "Cost log" %}
    </div>
  {% endblock %}
{% endif %}

{% block content_title %}<h1>{% trans "Cost listing" %}</h1>{% endblock %}

{% block content %}
  {% block object-tools %}
    <ul class="object-tools">
      <li><a href="{{ print_link }}" class="printlink">{% trans "Print" %}</a></li>
    </ul>
  {% endblock %}

  <form method="GET">
    {{ config_form.as_p }}
    <input type="submit" value="{% trans "Go" %}">
  </form>



  <div id="changelist" class="module">
    <table cellspacing="0">
      {% for group in groups %}
        <tbody>
	  {% if group.obj %}
            <tr>
              <th colspan="{% if style == "short" %}13{% else %}12{% endif %}">{{ group.obj }}</th>
            </tr>
	  {% endif %}
	  <tr>
	    {% if style == "short" %}
	      <th>{% trans "Start date" %}</th>
	      <th>{% trans "End date" %}</th>
	    {% else %}
	       <th>{% trans "Date" %}</th>
	    {% endif %}
	    <th class="align-right">{% trans "Gross transaction" %}</th>
	    <th class="align-right">{% trans "Nett transaction" %}</th>
	    <th class="align-right">{% trans "Transaction units" %}</th>
	    <th>{% trans "Transaction details" %}</th>
	    <th class="align-right">{% trans "Gross saldo" %}</th>
	    <th class="align-right">{% trans "Entry cost" %}</th>
	    <th class="align-right">{% trans "Withdrawal cost" %}</th>
	    <th class="align-right">{% trans "Work cost" %}</th>
	    <th class="align-right">{% trans "Insurance cost" %}</th>
	    <th class="align-right">{% trans "Storage cost" %}</th>
	    <th class="align-right">{% trans "Cost" %}</th>
	  </tr>
	</tbody>
	<tbody>
	  {% if style == "short" %}
	    {% for log_item in group.short_storage_log %}
	      <tr class="{% cycle 'row1' 'row2' %}">
		<td>{{ log_item.start_date|date:"Y-m-d" }}</td>
		<td>{{ log_item.end_date|date:"Y-m-d" }}</td>
		<td class="align-right">{{ log_item.sum_in.gross_weight|lst|append:log_item.sum_out.gross_weight|sepformat:-6 }}</td>
		<td class="align-right">{{ log_item.sum_in.nett_weight|lst|append:log_item.sum_out.nett_weight|sepformat:-6 }}</td>
		<td class="align-right">{{ log_item.sum_in.units|lst|append:log_item.sum_out.units|sepformat:-6 }}</td>
		<td>
		  {% for entry in log_item.entry_items.values %}
		    <a href="{% url admin:lasso_warehandling_entry_change entry.entry.id %}">{{ entry.id_str }}</a>{% if not forloop.last %},{% endif %}
		  {% endfor %}
		  {% if log_item.withdrawal_items %}- {% endif %}
		  {% for entry in log_item.withdrawal_items.values %}
		    <a href="{% url admin:lasso_warehandling_withdrawal_change entry.withdrawal.id %}">{{ entry.id_str }}</a>{% if not forloop.last %},{% endif %}
		  {% endfor %}
		</td>
		<td class="align-right">{{ log_item.sum.gross_weight|floatformat:"-6" }}</td>
		<td class="align-right">{{ log_item.sum_in.entry_cost|floatformat:"-2" }}</td>
		<td class="align-right">{{ log_item.sum_out.cost|floatformat:"-2" }}</td>
		<td class="align-right">{{ log_item.sum_work.cost|floatformat:"-2" }}</td>
		<td class="align-right">{{ log_item.sum_in.insurance_cost|floatformat:"-2" }}</td>
		<td class="align-right">{{ log_item.sum.cost|floatformat:"-2" }}</td>
		<td class="align-right">{{ log_item.sum.total_cost|floatformat:"-2" }}</td>
		<td></td>
	      </tr>
	    {% endfor %}
	  {% else %}
	    {% for date in dates %}
	      {% with group.storage_log|nth:date as items_for_date %}
		<tr class="{% cycle 'row1' 'row2' %}">
		  <td>{{ date|date:"Y-m-d" }}</td>
		  <td class="align-right">{{ items_for_date.sum_in.gross_weight|lst|append:items_for_date.sum_out.gross_weight|sepformat:-6 }}</td>
		  <td class="align-right">{{ items_for_date.sum_in.nett_weight|lst|append:items_for_date.sum_out.nett_weight|sepformat:-6 }}</td>
		  <td class="align-right">{{ items_for_date.sum_in.units|lst|append:items_for_date.sum_out.units|sepformat:-6 }}</td>
		  <td>
		    {% for entry in items_for_date.entry_items.values %}
		      <a href="{% url admin:lasso_warehandling_entry_change entry.entry.id %}">{{ entry.id_str }}</a>{% if not forloop.last %},{% endif %}
		    {% endfor %}
		    {% if items_for_date.withdrawal_items %}- {% endif %}
		    {% for entry in items_for_date.withdrawal_items.values %}
		      <a href="{% url admin:lasso_warehandling_withdrawal_change entry.withdrawal.id %}">{{ entry.id_str }}</a>{% if not forloop.last %},{% endif %}
		    {% endfor %}
		  </td>
		  <td class="align-right">{{ items_for_date.sum.gross_weight|floatformat:"-6" }}</td>
		  <td class="align-right">{{ items_for_date.sum_in.entry_cost|floatformat:"-2" }}</td>
		  <td class="align-right">{{ items_for_date.sum_out.cost|floatformat:"-2" }}</td>
		  <td class="align-right">{{ items_for_date.sum_work.cost|floatformat:"-2" }}</td>
		  <td class="align-right">{{ items_for_date.sum_in.insurance_cost|floatformat:"-2" }}</td>
		  <td class="align-right">{{ items_for_date.sum.cost|floatformat:"-2" }}</td>
		  <td class="align-right">{{ items_for_date.sum.total_cost|floatformat:"-2" }}</td>
		  <td></td>
		</tr>
	      {% endwith %}
	    {% endfor %}
	  {% endif %}
	<tbody>
	  <tr>
	    {% if style == "short" %}
	      <th></th>
	    {% endif %}
	    <th style="padding-bottom: 20pt">{% trans "Sum" %}</th>
	    <td class="align-right">{{ group.sum_in.gross_weight|lst|append:group.sum_out.gross_weight|sepformat:-6 }}</td>
	    <td class="align-right">{{ group.sum_in.nett_weight|lst|append:group.sum_out.nett_weight|sepformat:-6 }}</td>
	    <td class="align-right">{{ group.sum_in.units|lst|append:group.sum_out.units|sepformat:-6 }}</td>
	    <td></td>
	    <td></td>
	    <td class="align-right">{{ group.sum_in.entry_cost|floatformat:"-2" }}</td>
	    <td class="align-right">{{ group.sum_out.cost|floatformat:"-2" }}</td>
	    <td class="align-right">{{ group.sum_work.cost|floatformat:"-2" }}</td>
	    <td class="align-right">{{ group.sum_in.insurance_cost|floatformat:"-2" }}</td>
	    <td class="align-right">{{ group.sum.cost|floatformat:"-2" }}</td>
	    <td class="align-right">{{ group.sum.total_cost|floatformat:"-2" }}</td>
	  </tr>
        </tbody>
      {% endfor %}
    </table>
  </div>
  
{% endblock %}
